<div id="projects">
  <button type="button" (click)="openCreateProjectModal(createProjectModal)">
    New Project
  </button>

  <div *ngIf="isLoading" aria-live="polite">Loading...</div>

  <ul *ngIf="projects">
    <li *ngFor="let project of projects">
      <a [routerLink]="['/projects', project.id]">{{ project.name }}</a>
    </li>
  </ul>
  <div id="error-message" role="alert">
    {{ errorService.errorMessage }}
  </div>
</div>

<app-create-project-modal #createProjectModal></app-create-project-modal>
