<div *ngIf="isLoading" aria-live="polite">Loading...</div>

<div *ngIf="!isLoading" class="project">
  <button (click)="openEditProjectModal(editProjectModal)">
    Rename Project
  </button>
  <button (click)="deleteProject(deleteProjectConfirmationModal)">
    Delete Project
  </button>

  <p *ngIf="project && project.description">{{ project.description }}</p>
  <hr />
  <button (click)="openCreateFileModal(createFileModal)">
    Create New File
  </button>

  <div *ngIf="projectFiles" class="project-files">
    <table>
      <thead>
        <tr>
          <th scope="col">File Name</th>
          <th scope="col">Created On</th>
          <th scope="col">Modified On</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectFile of projectFiles; index as i">
          <td scope="row">{{ projectFile.filename }}</td>
          <td>{{ projectFile.createdOn | date: "short" }}</td>
          <td>{{ projectFile.updatedOn | date: "short" }}</td>
          <td>
            <button
              (click)="
                selectedProjectFile = projectFile;
                openEditFileModal(editFileModal, i)
              "
            >
              Edit {{ projectFile.filename }}
            </button>
            <button
              (click)="
                selectedProjectFile = projectFile;
                deleteProjectFile(deleteFileConfirmationModal, projectFile.id)
              "
            >
              Delete {{ projectFile.filename }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-confirmation-modal
  #deleteProjectConfirmationModal
  title="Delete Project Confirmation"
  message="Are you sure you would like to delete the project {{
    project.name
  }}?"
></app-confirmation-modal>

<app-confirmation-modal
  #deleteFileConfirmationModal
  title="Delete File Confirmation"
  message="Are you sure you would like to delete the file {{
    selectedProjectFile.filename
  }}?"
></app-confirmation-modal>

<app-create-edit-project-modal
  #editProjectModal
  mode="edit"
></app-create-edit-project-modal>

<app-create-edit-file-modal
  #createFileModal
  mode="create"
></app-create-edit-file-modal>

<app-create-edit-file-modal
  #editFileModal
  mode="edit"
></app-create-edit-file-modal>
