<div class="project">
  <button>Rename Project</button>
  <button (click)="deleteProject()">Delete Project</button>

  <p *ngIf="project">{{ project.description }}</p>

  <div *ngIf="isLoading" aria-live="polite">Loading...</div>

  <div class="project-files"></div>
  <table *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">Created On</th>
        <th scope="col">Modified On</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projectFile of projectFiles">
        <td scope="row">{{ projectFile.filename }}</td>
        <td>
          {{ projectFile.createdOn | date: "short" }}
        </td>
        <td>{{ projectFile.updatedOn | date: "short" }}</td>
        <td>
          <button>Edit {{ projectFile.filename }}</button>
          <button (click)="deleteProjectFile(projectFile.id)">
            Delete {{ projectFile.filename }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
