<header>
  <div id="skip-link">
    <a [href]="skipLinkService.path">Skip to Main Content</a>
  </div>

  <h1>{{ titleService.getSiteTitle() }}</h1>

  <nav>
    <ul style="list-style-type: none">
      <li>
        <a routerLink="/"> Home </a>
      </li>
      <li>
        <a routerLink="/projects"> Projects </a>
      </li>
    </ul>
  </nav>
</header>

<main id="main-content">
  <div aria-live="polite">
    <h2 id="content-title" tabindex="-1">{{ titleService.getSubTitle() }}</h2>
  </div>

  <router-outlet></router-outlet>
</main>

<footer>
  <div id="skip-link">
    <a [href]="skipLinkService.path">Return to Top</a>
  </div>

  <p>Created by: Timothy Breitenfeldt<br /></p>
</footer>
