<h3>Welcome to the WebsiteTemplator</h3>
<p>
  This tool allows you to quickly prototype a website structure without having
  to write a single line of code. You get to use a fully featured wysiwig editor
  to create your webpages, and as you make changes to the structure, you can see
  those changes write away in the editor. Once you have created a webpage, you
  can even publish it so that the world can see what you have created!
</p>
<p>Just create an account and get started creating your first project!</p>
